---
layout: page
---

{{ content }}
<ul id="archive">
{% for asg in site.assignments %}
    <li class="archiveposturl" style="background: transparent">
        <span>
            <a href="{{ asg.url | prepend: site.baseurl }}">{{ asg.title }}</a> 
            <br>
            <small>
                &nbsp;&nbsp;&nbsp;&nbsp;<strong>Released:</strong> {{ asg.date | date: site.dateformat }}
                {% if asg.due_event %}
                    <strong>Due:</strong> {{ asg.due | date: site.dateformat }} {{ asg.due_event.date | date: "%A %m/%d/%Y @ %I:%M %p" }}
                {% endif %}
            </small>
        </span>
    </li>
{% endfor %}
</ul>
