---
layout: page
---

{{ content }}

<ul id="archive">
{% assign sorted_lectures = site.lectures | sort: 'date' | reverse %}
{% for lecture in sorted_lectures %}
{% if lecture.date < site.time %}
  <li class="archiveposturl" style="background: transparent">
  <div class="lecture-container">

      <div class="content">
        <span class="post-meta">{{ lecture.date | date: "%A" }} {{ lecture.date | date: site.dateformat }} </span><br>
          <h1 style="font-weight: bold;"> {{ lecture.title }}</h1>
          {% if lecture.tldr %}
          <strong>tl;dr:</strong> {{ lecture.tldr }}<br>
          {% endif %}
          {% if lecture.slides or lecture.code %}
          <strong>Artifacts:</strong> 
              {% if lecture.slides %}[<a href="{{ lecture.slides }}">slides</a>]{% endif %}
              {% if lecture.slides and lecture.code %}{% endif %}
              {% if lecture.code %}[<a href="{{ lecture.code }}">code</a>]{% endif %}
          <br>
          {% endif %}
          {% if lecture.content != '' %}
            {{ lecture.content }}
          {% endif %}
      </div>
  </div>
  </li>
{% endif %}
{% endfor %}
</ul>
