---
layout: default
title: page.title
---
<div class="post">
  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">Released on {{ page.date | date: "%A" }} {{ page.date | date: site.dateformat }} </p>
  </header>

  {% assign trimmed_content = content | remove_html_comments | strip_newlines | strip %}
  {% if trimmed_content.size > 0 %}
    {% if page.due_event.date %}
    <div>
      <span style="font-weight: bold">Due Date:</span> {{ page.due | date: site.dateformat }} {{ page.due_event.date | date: "%A %m/%d/%Y @ %I:%M %p" }}
      
      {% if page.pdf or page.attachment or page.solutions or page.classroom %}
      <p>
        <span style="font-weight: bold">Project Materials:</span>
        {% if page.classroom %}
        {% assign is_url = false %}
        {% if page.classroom contains 'http://' or page.classroom contains 'https://' %}
          {% assign is_url = true %}
        {% endif %}
        {% if is_url %}
          <a href="{{ page.classroom }}">GitHub Classroom</a>
        {% else %}
          {{ page.classroom }}
        {% endif %}
        {% endif %}
        {% if page.pdf %}
        <a href="{{ page.pdf | prepend: site.baseurl }}">[problems]</a>
        {% endif %}
        {% if page.attachment %}
        <a href="{{ page.attachment | prepend: site.baseurl }}">[attachment]</a>
        {% endif %}
        {% if page.solutions %}
        <a href="{{ page.solutions | prepend: site.baseurl }}">[solutions]</a>
        {% endif %}
      </p>
      {% endif %}
      
      <div style="color: gray;">
        <p style="font-weight: bold">Late Policy</p>
        {% include late_policy.html %}
      </div>
    </div>
    <hr><br>
    <article class="post-content">
        {{ content }}
    </article>
    {% endif %}
  {% endif %}
</div>
