---
layout: default
---

<header class="post-header">
    <h1 class="post-title">Schedule</h1>
</header>

{{ content }}

<div class="home" style="font-size: 0.8em;">
    <ul class="responsive-table" style="margin-left: 0;">
        <li class="table-header">
            <div class="col col-1">Event</div>
            <div class="col col-1-2">Date</div>
            <div class="col col-2">Description</div>
            <div class="col col-4">Course Material</div>
        </li>
        
        {% assign all_assignment_dues = site.assignments | map: "due_event" %}
        {% assign all_project_dues = site.projects | map: "due_event" %}
        {% assign all_events = site.events | concat: site.lectures %}
        {% assign all_events = all_events | concat: site.assignments %}
        {% assign all_events = all_events | concat: site.projects %}
        {% assign all_events = all_events | concat: all_assignment_dues %}
        {% assign all_events = all_events | concat: all_project_dues %}
        {% assign all_events_sorted = all_events | sort: 'date' %}
        {% assign today = site.time | date: '%Y-%m-%d' %}
        
        {% assign future_events = "" | split: "" %}
        {% assign past_events = "" | split: "" %}

        {% for event in all_events_sorted %}
            {% assign event_date = event.date | date: '%Y-%m-%d' %}
            {% if event_date >= today %}
                {% assign future_events = future_events | push: event %}
            {% else %}
                {% assign past_events = past_events | push: event %}
            {% endif %}
        {% endfor %}
        
        {% assign last_week_number = 0 %}

        <!-- Display future events -->
        <li class="table-row-divider">
            <div class="col col-full divider-purple"></div>
        </li>  
        {% for event in future_events %}
            {% assign current_week_number = event.date | date: '%U' %}
            {% if current_week_number != last_week_number and last_week_number != 0 %}
                <li class="table-row-divider">
                    <div class="col col-full divider-purple"></div>
                </li>                
            {% endif %}
            <li class="table-row table-row-{{ event.type }}">
                {% include schedule_row_{{ event.type }}.html event=event %}
            </li>
            {% assign last_week_number = current_week_number %}
        {% endfor %}
        <li class="table-row-divider">
            <div class="col col-full divider-purple"></div>
        </li>  
        <!-- Divider between future and past events, only if there are past events -->
        {% if past_events.size > 0 %}
        <li class="table-row-divider2">
            <div class="col col-full" style="background-color: whitesmoke; color: #000000; text-align: center; font-size: 20px; font-weight: bold; padding: 10px 0;">                  Start of the Semester</div>
        </li>
        {% endif %}
    
        
        {% assign last_week_number = 0 %}
        
        <!-- Display past events -->
        {% for event in past_events %}
            {% assign current_week_number = event.date | date: '%U' %}
            {% if current_week_number != last_week_number %}
                <li class="table-row-divider">
                    <div class="col col-full divider-purple"></div>
                </li>
            {% endif %}
            <li class="table-row table-row-{{ event.type }}">
                {% include schedule_row_{{ event.type }}.html event=event %}
            </li>
            {% assign last_week_number = current_week_number %}
        {% endfor %}
        <li class="table-row-divider">
            <div class="col col-full divider-purple"></div>
        </li>  
    </ul>
</div>
